# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Secrets / credentials
.env
credentials.json

# Local databases
data/*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

data/*.db
data/beer30_api_catalog.json

gmail_credentials.json
gmail_token.json